* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: inherit;
    //a요소인 링크는 따로 텍스트 컬러 미지정시
    //기본 색상 파란색, 클릭한 링크는 짙은 보라색 설정
  }
  ul,
  ol,
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }