@import url(_reset.scss);

div {
    background-color: hotpink;

    h1 {
        font-size : 2rem;
    }
}

.box1 {
    background-color: hotpink;
}

.box2 {
    background-color: aqua;
    h2 {
        font-size: 3rem;
    }
}
